*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* header section style tart   */
.header-section{
    background:url('../images/Image_1.png');
    background-repeat: repeat;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height:650px;
}
.header-section .header-container{
    color:white;
    width:50%;
    padding:15% 6%
}
.header-section .header-container h1{
    font-size:40px;
}
.header-section .header-container p{
    font-size: 16px;
    line-height: 25px;
    padding:20px 0;
}
.btn{
    margin-top:20px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color:#f3a857 ;
    padding: 14px 30px ;
    font-weight: 900;
}
/* header  section style end */

/* about section style start  */
    .about-section{
        width:100%;
        height:600px;
        
    }
    .about-section .about-our{
        width: 50%;
        height: 600px;
        background-color: #272624;
        float: left;
    }
    
.about-section .about-our .about-our-text{
    text-align: center;
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 35%;
    }
    .about-section .about-our .about-our-text h2{
        font-size: 40px;
        font-weight: 500;
    
    }
    
    .about-section .about-our .about-our-text p{
        line-height: 25px;
        padding: 20px 0;
    
    }
    
    
    .about-section .reg-open{
        width: 50%;
        height: 600px;
        background-color: #1E1D1B;
        float: right;
    }
    
    
    .about-section .reg-open .reg-open-text{
        text-align: center;
        color: white;
        width: 80%;
        margin: auto;
        margin-top: 35%;
    }
    
    .about-section .reg-open .reg-open-text h2{
        font-size: 40px;
        font-weight: 500;
    
    }
    
    .about-section .reg-open .reg-open-text p{
        line-height: 25px;
        padding: 20px 0;
    
    }

/* about section style end  */

